.menu {
  background-image: url("../../img/picture/bg-menu.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu__title {
  margin-left: rem(90px);
  margin-top: rem(110px);
  color: $white;
}

.menu-accordion {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.menu-accordion__item {
  height: 100%;
  display: flex;
  &--active {
    .menu-accordion__content {
      overflow: hidden;
      background: rgba($black, 0.93);
    }
    .menu-accordion__key-name {
      color: $yellow;
    }
    .menu-accordion__text {
      width: rem(540px);
      padding-left: rem(35px);
    }
  }
}

.menu-accordion__key {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  flex: 0 0 auto;
  width: rem(80px);
  
}

.menu-accordion__key-name {
  transform: rotate(-90deg) translateY(-50%);
  @include gagalin;
  color: $white;
  font-size: rem(40px);
  text-align: center;
  white-space: nowrap;
  position: absolute;
  margin-top: rem(-20px);
  left: 50%;
  top: 100%;
  transform-origin: 0 0;
}

.menu-accordion__content {
  overflow: hidden;
  background: rgba($black, 0.93);
 
}

.menu-accordion__text {
  color: $white;
  font-size: rem(14px);
  @include ubuntu(300);
  line-height: 1.714;
  padding-top: rem(60px);
 
  width: 0;
}
