.slider {
  position: fixed;
  top: rem(90px);
  right: rem(50px);
  z-index: 3;
}

.slider__list {
  display: flex;
  flex-direction: column;
}

.slider__point {
  display: block;
  width: rem(16px);
  height: rem(16px);
  border: rem(1px) solid transparent;
  border-radius: 50%;
  margin-bottom: rem(5px);
  position: relative;
  &--active {
    border-color: $white;
  }
  &:before {
      content: "";
      display: block;
      width: rem(6px);
      height: rem(6px);
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      top: 25%;
      left: 25%;
      
    }
} 
 


