.video {
  background-image: url(../../img/picture/bg-video.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.video__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video__wrapper {
    position: relative;
   
}

.video__player-btn {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: rem(82px);
    height: rem(118px);
  }