
$black: #2f3234;
$yellow: #f9b43b;
$white: #ffffff;
$orange: #e45028;
$peach: #e35028;

@import "base/media.scss";
@import "base/normalize.scss";
@import "base/layout.scss";
@import "base/fonts";

@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/nav.scss";
@import "blocks/button.scss";
@import "blocks/arrow-btn.scss";
@import "blocks/title.scss";
@import "blocks/welcome-page.scss";
@import "blocks/advantages.scss";
@import "blocks/burgers.scss";
@import "blocks/reviews.scss";
@import "blocks/team.scss";
@import "blocks/menu.scss";
@import "blocks/delivery.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";
@import "blocks/contacts.scss";
@import "blocks/socialmedia.scss";
@import "blocks/slider.scss";
@import "blocks/modalwindow.scss";
@import "blocks/popup.scss";
@import "blocks/fullpage.scss";