.button {
  font-size: rem(13px);
  color: $white;
  border-radius: rem(5px);
  text-transform: uppercase;
  @include ubuntu(medium);
  cursor: pointer;
  border: none;
  padding: rem(13px) rem(15px);
  background-color: $orange;
}


