.footer {
    background-image: url(../img/picture/footer.jpg);
    background-size: cover;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    width: 100%;
   z-index: 20;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10px) rem(5px);
}

