.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item {
  margin-right: 17px;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: 17px;
  }

  &:last-child {
    &::after {
      content: "";
      display: none;
    }
  }
}

.nav__link {
  font-size: 13px;
  font-weight: 500;
  line-height: 2.31;
  color: $white;
}
