.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablets {
    display: none;
  }
}

.nav__item {
  margin-right: rem(15px);

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: rem(5px);
    height: rem(5px);
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: rem(15px);
  }

  &:last-child {
    &::after {
      content: "";
      display: none;
    }
  }
}

.nav__link {
  font-size: rem(13px);
  font-weight: 500;
  line-height: 2.31;
  color: $white;
}
