.welcome-page {
  background-image: url(../Img/picture/bg-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.welcome-page__container {
  display: flex;
}

.welcome-page__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.welcome-page__pic {
    margin-bottom: 20px;
}

/*.welcome-page__pic::before {
    content: url('../Img/icons/drops.svg');
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}*/
