html {
  font-size: rem(16px);
}

html,
body {
  height: 100%;
}

body {
  font-size: rem(14px);
  font-family: "Ubuntu";
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: rem(1000px);
  width: 95%;
}

.section {
  height: 100vh;
  width: 100vw;
  min-height: rem(650px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus {
  text-decoration: none;
  border: none;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;

  & > li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

address {
  font-style: normal;
}
